#increase {
  color: red;
}

#decrease {
  color: green;
}

#powersaveon {
  color: green;
}

#powersaveoff {
  color: red;
}

#temp {
  font-size: 1000%;
  left: 10%;
}

body {
  background-color: white;
}