#increase {
  color: red;
}

#decrease {
  color: green;
}

#powersaveon {
  color: green;
}

#powersaveoff {
  color: red;
}

#temp {
  position: fixed;
  font-size: 5000%;
  left: 40%;
}


body {
  background-image: url('../images/giphy.gif');
  background-size: 100%;
}